.vhs {
  margin-bottom: 3px;
}

.eight-mm {
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: 1em;
  display: inline-block;
}
.eight-mm-small {
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: .8em;
  display: inline-block;
}
