.vhs {
  margin-bottom: 3px;
}

.eight-mm {
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: 1em;
  display: inline-block;
}
.eight-mm-small {
  font-size: .8em;
}

.page-title {
  margin-top: 50px;
  margin-bottom: 20px;
}
